<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceProxyBinding" closeTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferSize="134217728" maxReceivedMessageSize="134217728">
          <readerQuotas maxStringContentLength="134217728" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://testrpc.fang.com/RPC.Contracts.IFooService.svc"
        binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding"
        contract="RPC.Contracts.IFooService" name="IFooService" />
    </client>
  </system.serviceModel>
</configuration>
